.sec {
    padding: 120px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 0 15px;

    text-align: left;
}

.sec .title h2 {
    font-size: 60px;
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    margin: 0 0 8px 0;
    line-height: 60px;
}

.sec .title p {
    font-size: 16px;
    line-height: 20px;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.more_btn {
    padding: 16px 40px;

    border: none;
    background: transparent;

    border: 1px solid #202124;

    font-size: 16px;
    color: #202124;

    cursor: pointer;
    white-space: nowrap;
}

.more_btn:hover {
    background: #202124;
    color: #fff;
}

@media(max-width:768px) {
    .sec .title h2 {
        font-size: 8vw;
    }
}

@media(max-width:500px) {
    .sec .title h2 {
        font-size: 9vw;
    }
}