/* * {
    outline: 1px solid tomato;
} */

#header {}

.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    height: 100px;

    padding: 0 30px;

    background: rgba(255, 255, 255, 0.3);
}

.header_wrap h1 {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_wrap .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}

.header_wrap .gnb .menu {
    display: flex;
    gap: 15px;
}

.header_wrap .gnb .util {
    display: flex;
    gap: 15px;
}

.material-symbols-outlined {
    font-size: 32px;
}

.main_visual {
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
}

.main_visual .visual_video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main_visual .video_case {
    width: 100%;
}

.main_visual .visual_text {
    position: absolute;
    top: 636px;
    left: 220px;
}

.main_visual .visual_text strong {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;

    color: #FFF;
    text-shadow: 1px 1px 2px #000;

    margin: 0 0 20px 0;

    transform: translate(0, 100%);
    opacity: 0;
}

.main_visual .visual_text p {
    font-size: 18px;

    color: #FFF;

    text-shadow: 1px 1px 2px #000;

    line-height: 26px;

    transform: translate(0, 100%);
    opacity: 0;
}

.main_visual .visual_text.on strong {
    display: block;

    transform: translate(0, -100%);
    opacity: 1;
    transition: 1.2s 0.5s;
}

.main_visual .visual_text.on p {
    transform: translate(0, -100%);
    opacity: 1;
    transition: 1.2s 1.2s;
}

.main_visual .scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);

    color: #FFF;
    font-size: 14px;
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1px;
    height: 52px;

    background: #fff;
}

.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: -72px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 8px;
    height: 8px;
    border-radius: 50%;

    background: #fff;
    animation: scroll_down 1.5s infinite;
}

@keyframes scroll_down {
    0% {
        top: -72px;
    }

    100% {
        top: -16px
    }
}

.main_category {
    background: url(../images/main_category_bg.jpg) no-repeat top right;

}

.main_category .category_con {
    display: flex;
    gap: 30px;

    justify-content: space-between;
}

.main_category .category_con .category_itm {
    min-width: 0;
    width: 970px;
    margin: 0 -15px 0 0;
}

.main_category .category_con .category_itm .itm {
    height: 305px;
}

.main_category .category_con .category_itm .img_box {
    width: 220px;
    height: 250px;

    /* margin: 0 0 0 auto; */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.main_category .category_itm .itm img {
    width: 100%;
    height: 100%;
}

.main_category .category_name {
    display: flex;
    height: 180px;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 14px;
}

.main_event {
    background-color: #fff;
}

.main_event .title {
    text-align: center;
}

.main_event .event_con .top_con {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    margin: 0 0 32px 0;
}

.main_event .event_con .top_con>* {
    flex: 1;
}

.main_event .event_con .event_text {
    padding: 120px 0 0 0;
}

.main_event .event_con .event_text strong {
    display: inline-block;

    font-size: 24px;
    font-weight: 500;

    margin: 0 0 12px 0;
}

.main_event .event_con .event_text p {
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 52px 0;
}

.main_event .event_con .event_video video {
    width: 100%;
}

.main_event .event_con .bottom_con {
    display: flex;
    gap: 30px;
}

.main_event .event_con .bottom_con>* {
    flex: 1;

    text-align: center;
}

.main_event .event_con .bottom_con figure {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 0 16px 0;
}

.main_event .event_con .bottom_con img {
    width: 100%;
}

.main_event .event_con .bottom_con strong {
    display: inline-block;
    margin: 0 0 8px 0;
}

.main_history {
    position: relative;

    background: url(../images/main_history_bg.png) no-repeat center center/cover;
}

.main_history::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.3);
}

.main_history .history_wrap {
    position: relative;
    z-index: 1;

    text-align: center;
}

.main_history .history_wrap .title {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;

    margin: 0 auto 28px 0 auto;
}

.main_history .history_wrap p {
    color: #fff;
    text-shadow: 1px 1px 2px #000;

    line-height: 24px;
    margin: 0 0 44px 0;
}

.main_history .history_wrap .more_btn {
    border: 1px solid #fff;
    color: #fff;
}

.main_history .history_wrap .more_btn:hover {
    color: #202124;
    background: #fff;
}